* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
 
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	margin-left: -90px;
	
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}

       .active{
		
	   }
		nav {
			
			position: fixed;
			z-index: 1000;
			position: absolute;
			display: flex;
			justify-content: space-between;
			max-width: 80%;
			margin: auto;
			padding: 1.4rem 1rem;
			background-color: #000000b5;
			backdrop-filter: blur(20px);
			border-radius: 3rem;
			margin-top: 1rem;
			/* box-shadow: 0px 0px 3px rgb(254 116 62); */
		}
		.logo {
			font-size: 1.3rem;
			font-weight: 600;
		}
		.logo a {
			color: #4daf3e;
			text-decoration: none;
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			padding: 0;
			background-color: transparent;
			overflow: hidden;
			margin-bottom: 0;
		}
		li {
			padding: 0rem 1.1rem;
			float: left;
			margin-top: +10px;
		}
	
		li a {
			color: #e96d3f;
			text-decoration: none;
			font-size: 1rem;
			font-weight: 600;
			letter-spacing: .7px;
		}
	
		ul li a {
			position: relative;
		}
	
		ul li a::before {
			content: "";
			position: absolute;
			bottom: -6px;
			width: 100%;
			height: 3px;
			background-color: #cdc2c2;
		}
		 /* Center Animation */
		 ul li a::before {
			transform: scale(0, 1);
			transition: transform .3s ease;
		}
	
		ul li a:hover::before {
			transform: scale(1, 1);
		}
		li a.active,
		li a:hover {
			color: #ffffff;
			transition: all .3s ease-in-out
		}
	
		#click {
			display: none;
		}
	
		.menu {
			display: none;
		}
	
		@media only screen and (max-width:1024px) {
			nav {
				max-width: 98%;
			}
		}
	
		@media only screen and (max-width:768px) {
			html {
				font-size: 80%;
			}
	
			nav {
				max-width: 100%;
			}
		}
	
		@media only screen and (max-width:480px) {
			html {
				font-size: 85%;
			}
	
			header {
				height: 100vh;
			}
	
			li {
				padding: 1rem 1.0rem;
				
			}
	
			.menu {
				display: block;
				font-size: 2rem;
				font-weight: bold;
				color: #fff;
			}
	
			ul {
				width: 100%;
				height: 100vh;
				position: absolute;
				display: flex;
				flex-direction: column;
				text-align: center;
				top: 4rem;
				left: -100%;
				background-color: #000000b5;
				backdrop-filter: blur(50px);
			}
	
			#click:checked~ul {
				left: 1%;
				transition: all 0.3s ease;
			}
	
		}
	

/* CSS */
.button-24 {
	
 margin-top: -10px;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 9px 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}


  
  
  


